<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=320, initial-scale=1"/>
  <title>test</title>
</head>
<body>
  <form action="/move_y/up" method="post">
    <input type="submit" value="up">
  </form>
  <form action="/move_y/down" method="post">
    <input type="submit" value="down">
  </form>
  <form action="/move_x/right" method="post">
    <input type="submit" value="right">
  </form>
  <form action="/move_x/left" method="post">
    <input type="submit" value="left">
  </form>
</form>
</body>
</html>
