body {
      background: #333;
      text-align: center;
      margin-top: 10%;
    }

#videoCanvas {
  /* Always stretch the canvas to 640x480, regardless of its
  internal size. */
  width: 640px;
  height: 480px;
  margin: 0 auto;
}

table {
  margin: auto;
}

td {
  width: 80px;
  height: 80px;
  padding: 5px;
}

.controlButton {
  width: 95%;
  height: 95%;
  background-color: rgba(0, 102, 0, .6);
  border-radius: 2px;
}

.controlButton:hover {
  background-color: rgb(0, 102, 0);
}

#fire {
  background-color: rgba(168, 5, 5, .6);
}

#fire:hover {
  background-color: rgb(168, 5, 5);
}
