doctype html
html
  head
    meta(name='viewport', content='width=320, initial-scale=1')
    title Turret: Destroyer Of Worlds
    link(rel='stylesheet', type='text/css', href='stylesheets/main.css')
    link(rel='stylesheet', type='text/css', href='stylesheets/normalize.css')
  body
    block content
    script(type='text/javascript', src='https://code.jquery.com/jquery-2.1.3.js')
    script(type='text/javascript', src='javascripts/underscore.js')
    script(type='text/javascript', src='javascripts/jsmpg.js')
    script(type='text/javascript', src='javascripts/fireControls.js')
    script(type='text/javascript').
      // Show loading notice
      var canvas = document.getElementById('videoCanvas');
      var ctx = canvas.getContext('2d');
      ctx.fillStyle = '#444';
      ctx.fillText('Loading...', canvas.width/2-30, canvas.height/3);
      // Setup the WebSocket connection and start the player
      var client = new WebSocket( 'ws://localhost:8084/' );
      var player = new jsmpeg(client, {canvas:canvas});
